.active-arrow {
    display: block;
  }

  .nav-item {
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: white;
  }

.w-75{
  height:50px;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan-2 .fa {
  color: #4dd0e1;
}

.jumbotron{
  margin-top: 30px;;
}

.univeristy-name{
  padding-top: 20px;
}

.uni-data{
  margin-left: 100%;
  margin-right: 100%;
  margin-bottom: -10px;
}

.complete-uni-data{
  width: 500px;
}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.card{
  -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12);
   box-shadow: 0;
}