.active-arrow {
    display: block;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    display: none;
    margin-top: 28px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .active-arrow {
    display: block;
  }
  
  .nav-tabs {
    background-color: black;
  }
  
  .tab-content {
    background-color: #ccc
  }